* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  /* height: 100vh; */
  min-height: 100vh;
  background: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
  background-color: #052c66;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


input,
button {
  padding: 8px;
  margin: 5px 0;
}